body {
  margin: 0;
  padding: 0;
  background-color: rgb(26, 77, 126); 
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

h1 {
  color: aliceblue;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  text-shadow: -20px -20px 5px rgb(83, 83, 83);
  text-align: center;
}

.calculator {
  width: 80%;
  height: 80%;
  border: groove 3px blue;
  border-radius: 10px;
  background-color: #DE7028;
  box-shadow: 0 0 15px #DE9928;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator fieldset {
  width: 80%;
  height: 6.5em;
  margin: 1em;
  border-radius: 10px;
  background-color: brown;
  display: flex;
  justify-content: space-around;  
  align-items: center;
  flex-wrap: wrap;
}

#txt-number1,
#txt-number2 {
  width: 80%;
  height: 2em;
  background-color: rgb(212, 97, 97);
  border-radius: 10px;  
  text-align: right;
  font-weight: bold;
  font-size: 2rem;
}

label {
  font-weight: bold;
  color: white;
  font-size: 2em;
}

.buttons-operations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
  background-color: yellow;
  margin: 0.4em;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: rgb(36, 221, 11); 
  color: white; 
}

button:focus {
  background-color: rgb(36, 221, 11); 
  color: white; 
  font-style: oblique;
}

.p-result {
  border: groove rgb(255, 123, 0) 5px;
  background-color: rgb(233, 182, 106);
  height: 3.5rem;
  width: 90%;
  text-align: center;  
  border-radius: 10px;  
  visibility: hidden;
  font-size: 1.5em;  
}

@media screen and (min-width:768px) {
  h1 {
    color: yellow;
  }

  .p-result {
    font-size: 2rem; 
    width: 42%;   
    height: 8%;
    text-align: center;    
  }

  button {
    width: 4rem;
    height: 4rem;
    margin-top: 1em;
  }
}

@media screen and (min-width:1376px) {
  h1 {
    color: red;
  }

  .calculator fieldset {
    width: 25%;
    border: groove 5px rgb(175, 15, 9);
  }

  #txt-number1,
  #txt-number2 {
    width: 10%;
  }

  .p-result {
    font-size: 2rem; 
    width: 40%;   
    height: 5%;
    text-align: center;    
  }
}

